In [ ]:
import sqlite3

bdd = sqlite3.connect(":memory:") #BDD dans la RAM

curseur = bdd.cursor() # Récupération d'un curseur, méthode qui permet de parcourir la base de données

In [ ]:
# création des tables

curseur.execute("""
CREATE TABLE IF NOT EXISTS Artiste(
  idArtiste int(11) NOT NULL,
  'nom' varchar(30) NOT NULL,
  'prénom' varchar(30) NOT NULL,
  'annéeNaiss' int(11) DEFAULT NULL,
  PRIMARY KEY ('idArtiste'))
""")

bdd.commit() # Soumettre l'ordre

In [ ]:
# Alimentation de la base à partir d'une liste

data_artists = [(1, 'Lucas', 'George', 1944),
                (2, 'Hamill', 'Mark', 1951),
                (3, 'Ford', 'Harrison', 1942),
                (4, 'Fisher', 'Carrie', 1956),
                (5, 'Cushing', 'Peter', 1913),
                (6, 'Daniels', 'Anthony', 1946),
                (13, 'Brooks', 'Albert', 1947),
                (31, 'Hanks', 'Tom', 1956),
                (32, 'Wright', 'Robin', 1966),
                (39, 'Mendes', 'Sam', 1965),
                (40, 'Welles', 'Orson', 1915),
                (42, 'von Trier', 'Lars', 1956),
                (49, 'Bello', 'Maria', 1967),
                (50, 'Deneuve', 'Catherine', 1943),
                (53, 'Stormare', 'Peter', 1953),
                (62, 'Willis', 'Bruce', 1955),
                (64, 'Oldman', 'Gary', 1958),
                (65, 'Holm', 'Ian', 1931),
                (66, 'Tucker', 'Chris', 1971)]

for donnees in data_artists:
    curseur.execute("""INSERT INTO Artiste('idArtiste', 'nom', 'prénom', 'annéeNaiss') VALUES(?,?,?,?)""",donnees)

bdd.commit()

In [ ]:
requete = "SELECT * FROM Artiste"  # Notre requête, afficher tous les artistes de la table Artiste
curseur.execute(requete)

In [ ]:
# Affichage des résultats

for element in curseur :
    print(element)

In [ ]:
curseur.close()
bdd.close() #Déconnexion